.blogs-main{
  display: grid;
}
.blogs-container{
  backdrop-filter: blur(2em);
  padding: 2em 4em ;
  display: grid;
  grid-template-rows: 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  color: white;
    }
.image-objective-general{
  grid-column: 1,3;
  justify-self: center;
}
.image-objective-general img{
  width: 30em;
  border-radius: 1em;
}
.text-objective-general{
  grid-column: 2;
  text-align: justify;
  align-self: center;
}
.text-objective-general p{
  line-height: 1.5em;
}
.title-objetives{
padding: 0 1.6em 0 1.6em;
text-align: center;
}
.objective {
  display: inline-block;
  padding: 0.8em 2em;
  text-align: center;
  max-width: 25%;
  backdrop-filter: blur(100px);
  margin: 0.6em 0.6em;
  border-radius: 1em;
}
.objective p {
  color: white;
}
.objective img {
  width:20em;
  border-radius: 1em;
}
.two{
  padding: 1.5em 2em;
}
.title-two{
display: flex;
  align-items: center;
    justify-content: center;
}
