body{
  margin:0;
  padding: 0;
  background-image: url("../assets/fondo.jpg");
  background-size: cover;
  font-family: monospace;
}
a {
  text-decoration: none;
  display: inline;
  color: black;
}
.home-body{
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.header-icons-container {
  height: 3.5em;
  display: grid;
  background-color: #b96299;

}
.header-icons-container .icons {
    width: 23em;
    height: auto;
    display: flex;
    align-items: center;
    justify-self: end;
}
.icons a img {
  padding-left: 3em;
  width: 2.6em;
  height:auto; 
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo-container .item-left img {
  height: 5.8em;
}
.profile-link .item-right {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2em;
  color: black;
  width: 8em;
  height: 3em;
}
.profile-link {
  margin: 1.4em;
}
.footer {
  display: flex;
  background-color: #b96299;
  padding: 0 5px;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-size: 85%;
}

.logo-footer {
  display: flex;
  width: 10%;
  height: 12%;

}